body {
	background-image: url('file://ihssvr1/studentmydocs$/jonty.cavey/My%20Documents/Website%20Year%2013%20-%20Jonty/images/background_image.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;  
	background-size: cover;
	background-color: #2c302e;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 120px;
	text-align: center;
	color: white;
	font-family: 'Titan One', cursive;
}

h2 {
	font-size: 48px;
	font-family: 'Signika', sans-serif;
	text-align: left;
}

p {
	text-align: center;
	font-size: 23px;
	font-family: 'Martel', serif;
}

.header {
}

span {
}

.info_box {
	padding: 100px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s; 
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #f45b69;
	display: block;
	transition: 0.8s;
}

.sidenav a:hover {
	color: #2c302e;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

[class*="col-"] {
	float: left;
	color: white;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}


[class*="col-"] {
	/* For mobile phones: */
	width: 100%;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

.row::before {
	content: "";
	clear: both;
	display: table;
	background-color: rgba(44, 48, 46, 0.5);
}