body {
	background-image: url (file://ihssvr1/studentmydocs$/jonty.cavey/My%20Documents/Website%20Year%2013%20-%20Jonty/images/background_image.jpg);
	margin: 0;
	background-color: blue;
}

h1 {
	font-size: 100px;
	font-family: Oregano;
	float: top;
	text-align: center;
}

p {
	font-family: 'Marcellus', serif;
	text-align: center;
	font-size: 23px;
}

.row {
	color: white;	
	background-color: #98DFEA;
	width: 100%;
	height: 100%;
}

.col-sm-4 {

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.8s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}