body {
	background-image: url('file://ihssvr1/studentmydocs$/jonty.cavey/My%20Documents/Website%20Year%2013%20-%20Jonty/images/background_image.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;  
	background-size: cover;
	background-color: #2c302e;
	margin: 0;
	padding: 0;
	color: #f45b69;
	-webkit-animation: fadein 1s;
}

h1 {
	font-size: 120px;
	text-align: center;
	color: white;
	font-family: 'Titan One', cursive;
	color: #98DFEA
}

h2 {
	font-size: 48px;
	font-family: 'Signika', sans-serif;
	text-align: left;
	color: #98DFEA
}

p {
	text-align: left;
	font-size: 23px;
	font-family: 'Martel', serif;
}

ul {
	list-style-type: none;
}

.list_head {
	font-size: 23px;
	color: white;
	text-align: left;
}

.list_body {
	font-size: 15px;
	color: #98DFEA;
	text-align: left;
}

li a:hover {
	color: #f45b69;
}

li a {
  text-decoration: none;
  color: #98DFEA;
}

.header {
	padding-top: 30px;
}

span {
	color: #98DFEA;
	cursor: pointer;
	font-size: 40px;
}

.logo {
	filter: saturate(9);
}

img:hover {
	opacity: 0.7;
}

.indie_games {
	text-align: center;
}

.info_box {
	padding: 100px;
}

.footer {
	background-color: rgba(44, 48, 46, 0.5);
	height: 190px;
}

.footer_mid {
	font-family: 'Martel', serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s; 
	background-color: #2c302e;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #98DFEA;
	display: block;
	transition: 0.8s;
}

.sidenav a:hover {
	color: #f45b69;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

[class*="col-"] {
	float: left;
	color: white;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}


[class*="col-"] {
	/* For mobile phones: */
	width: 100%;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

.row::before {
	content: "";
	clear: both;
	display: table;
	background-color: rgba(44, 48, 46, 0.5);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }